:local(.hamburger) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 40px;
  z-index: 10;
  transition: transform 0.3s ease;

  &:hover {
    .bar {
      transform: scaleX(0.7);

      @for $i from 0 through 2 {
        &:nth-child(#{$i + 1}) {
          transition-delay: $i * 0.04s;
        }
      }
    }
  }

  &.is-visibled {
    .bar {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
      }
      &:nth-child(2) {
        transform: scaleX(0);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(1px, -4px);
      }
    }
  }
}

.bar {
  display: block;
  width: 32px;
  height: 2px;
  margin: 2px 0;
  background-color: black;
  transition: transform 0.35s ease;
}
